body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  padding: 0 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button */
.button {
  padding: 0.5em;
  font-size: 1.2em;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  margin: 1em;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
}

/* Displayer */
.displayer {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
  position: fixed;
  bottom: 10px;
  width: 100%;
  right: 10px;
  max-width: 13em;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.5em;
  height: 16em;
}

.item {
  border-radius: 1em;
  margin-bottom: 0.5em;
  min-width: 10em;
  font-size: 0.6em;
  padding: 1em;
  display: inline-block;
}

.item p {
  margin: 0;
}

.item.left {
  text-align: left;
  background-color: rgb(214, 214, 214);
}

.item.right {
  text-align: right;
  color: white;
  background-color: rgb(109, 184, 228);
}

.username {
  font-weight: bold;
}

.content {
  padding-left: 0.5em;
}

.flexRight {
  display: flex;
  justify-content: flex-end;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #222222 ;
  color: white;
  display: flex;
  padding: 0.5em;
  font-size: 2em;
}

a.navbar-button {
  color: white;
  text-decoration: none;
  margin: 0 0.5em;
}

.navbar-left {
  flex: 1;
  text-align: center;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}